/**********************************************************************MAP STYLE ***************************************************************************/

#map-canvas {
    margin: 0;
    padding: 0;
    height: 400px;
    max-width: none;
}
#map-canvas img {
    max-width: none !important;
}
.gm-style-iw {

}
#iw-container {
    /* Controls width of info window */
    min-width: 400px;
}
#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
#iw-container .iw-outsidecontent {
    direction: ltr;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 0px 5px 20px 5px;
    /* Controls height of infowindow */
    max-height: 250px;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden!important;
    overflow: scroll;
    direction:rtl;
}
.iw-content img {
    float: right;
    margin: 0 5px 5px 10px;
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}

/*CSS TO DO WITH LEGEND*/
#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
    border-radius: 4px 4px 4px 4px;
}
#legend h3 {
    margin-top: 0;
}
#legend img {
    vertical-align: middle;
}


/*CSS TO DO WITH Driving Directions
#directions-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#directions-panel select, #right-panel input {
    font-size: 15px;
}

#directions-panel select {
    width: 100%;
}

#directions-panel i {
    font-size: 12px;
}
#directions-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
}

#directions-panel {
    float: none;
    width: auto;
}*/