/* HEADER */
header{
    z-index: 10;
}

/* FOOTER */

footer {
    background-color: #333;
    z-index: 9;
    height: 32px;
    width: 100%;
    position: fixed;
    bottom: 1px;
    left: 0px;
    color: white;
    margin-bottom: 0px;
    border-top: solid 1px black;
    border-bottom: solid 1px white;
}

/* BACKGROUND */
body{
    background-image: url(background.jpg);
    background-size: cover;
    //background-color: #FFFFFF;
    margin-bottom: 48px;
    z-index: 5;
}

/*Landing Page Text*/
#homePageText{
    font-family: 'Dosis', sans-serif;
    font-size: 600%;
    text-align: center;
}
/* NAVIGATION BAR*/
nav ul {
    font-family: 'Dosis', sans-serif;
    font-size: 150%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
    background-color: #333;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    width: 206px;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a :hover {
    color: darkred;
    background-color: #111;
}

#loginButton{
    background-color: lightgreen;
}
#loginButton:hover{
    background-color: darkgreen;
}

#registerButton{
    background-color: dodgerblue;
}

#registerButton:hover{
    background-color: darkslateblue;
}

#logoutButton{
    background-color: palevioletred;
}
#logoutButton:hover{
    background-color: darkred;
}

#logoIMG{
    width: 238px;
    height: 58px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#logo{
    width: 238px;
    height: 58px;
}


/*Controls for Tables*/

.hoverableRowsAndColumns:hover {
    background-color: lightskyblue;
}

.hoverableSpecificRowAndColumn:hover{
    cursor: pointer;
    background-color: dodgerblue;
}
td, tr, th {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    //background-color: #dddddd;
}

th{
    background-color: lightsteelblue;
}

tr{
    background-color: aliceblue;
}

/*
*   Login Page Div Controls
*/
/*this div id controls the bounding box for the login details*/
#divForLoginPage{
    width: 400px;
    height: 235px;
    /*Deals with positioning element in centre*/
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*END OF POSITIONING ELEMENT IN CENTRE*/
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    font-family: 'Dosis', sans-serif;
}
/* This class controls the size of text boxes on the login page */
.loginAndRegisterPageTextBox{
    width: 200px;
    margin-left: 100px;
}

.whyNotRegisterText{
    text-align: center;
}
#loginPageLoginButton{
    margin-left: 176px;
}

.pageHeaderText{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 150%;
}

/*
*   Register Page Div Controls
*/

#divForRegisterPage {
    width: 400px;
    height: 340px;
    /*Deals with positioning element in centre*/
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*END OF POSITIONING ELEMENT IN CENTRE*/
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    font-family: 'Dosis', sans-serif;
}

#submitRegisterButton{
    margin-left: 169px;
}

/*
 * Club Page Specific Controls
 */

#divForClubPageDetails{
    width: 100%;
    height: 800px;
    min-width: 740px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Dosis', sans-serif;
}

#clubDetails{
    width: 420px;
    /*position: absolute;
    top: 10px;
    left: 10%;*/
    padding: 10px;
    margin-left: 10%;
    float: left;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
}

#facebookFeed{
    width: 420px;
    /*position: absolute;
    top: 10px;
    right: 10%;*/
    margin-left: 10%;
    float: left;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    padding: 10px;
}

#clubPageCommentsBox{
    width: 420px;
    /*position: absolute;
    top: 10px;
    left: 10%;*/
    margin-left: 10%;
    float: left;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    padding: 10px;
}

/*
* Calendar Specific Controls
*/

#calendar{
    font-family: 'Dosis', sans-serif;
}

#calendar tbody{
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}
#allEventsCalendar{
    /*Deals with positioning element in centre*/
    margin: 0 auto;
    /*END OF POSITIONING ELEMENT IN CENTRE*/
}
#createEventLink{
    float: right;
}

/*
* Clubs & Societies Page
*/

#clubsAndSocietiesPageSearchBox{
    width: 100%;
    position: relative;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

#createClubFormLink{
    position: absolute;
    right: 10px;
    top: 10px;
}

/*Button CSS
* Code Source: https://css-tricks.com/examples/ButtonMaker/
*/
.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

/*
*   Health News Section
*/
#divForHealthNews{
    text-align: center;
}
#divForTwitterFeed{
    width: 30%;
    height: 600px;
    overflow-y: scroll;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
}
#healthNewsArticle{
    list-style-type: none;
    font-family: 'Dosis', sans-serif;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    width: 60%;
    min-width: 480px;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}
#healthNewsTitle{}
#healthNewsContent{}
#healthNewsAuthor{}
#createArticleLink{
    margin:3px;
}
#verifyArticleLink{
    margin:3px;
}

/*
* UsersAdminPage
*/

#divForUsersAdminPage{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    margin-top: 5px;
}
#usersTable{
    margin: 0 auto;
}
/*
* ArticleAdminPage
*/
#divForArticleAdminPage{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    margin-top: 5px;
}
#healthAndWellbeingTable{
    margin: 0 auto;
}

/*
* User Details CSS
*/
#modifyDetailsForm {
    padding-top: 5px;
    width: 400px;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
}
#modifyClubAdminFormRemoval{
    padding-top: 5px;
    width: 400px;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
}
#modifyClubAdminFormAddition{
    padding-top: 5px;
    width: 400px;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
}

/*
* Create new H&W Article Controls
*/

#divForCreateHealthAndWellbeing{
    margin-top: 15px;
    width: 750px;
    height: 430px;
    /*Deals with positioning element in centre*/
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*END OF POSITIONING ELEMENT IN CENTRE*/
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

#divForHealthAndWellBeingForm{
    margin-top: 75px;
    width: 750px;
    height: 540px;
    /*Deals with positioning element in centre*/
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*END OF POSITIONING ELEMENT IN CENTRE*/
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

#divForEventsForm{
    margin-top: 75px;
    width: 750px;
    height: 540px;
    /*Deals with positioning element in centre*/
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*END OF POSITIONING ELEMENT IN CENTRE*/
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

#divForCreateClubForm{
    margin-top: 5px;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

#divForClubAdminForm{
    margin-top: 5px;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

#divForCreateMapForm {
    margin-top: 5px;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    max-width: 975px;
}

#divForEditMapForm {
    margin-top: 5px;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    max-width: 975px;
}

