/* FOOTER */

footer {
    background-color: #333;
    z-index: 3;
    height: 32px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: white;
    margin-bottom: 0px;
    border-top: solid 1px black;
    border-bottom: solid 1px white;
}

/* BACKGROUND */
body{
    background-image: url(background.jpg);
    background-size: cover;
    //background-color: #FFFFFF;
    margin-bottom: 36px;
}

/*Landing Page Text*/
#homePageText{
    font-family: 'Dosis', sans-serif;
    font-size: 600%;
    text-align: center;
}
/* NAVIGATION BAR*/
nav ul {
    font-family: 'Dosis', sans-serif;
    font-size: 150%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
    background-color: #333;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    width: 206px;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a :hover {
    color: darkred;
    background-color: #111;
}

#loginButton{
    background-color: lightgreen;
}
#loginButton:hover{
    background-color: darkgreen;
}

#registerButton{
    background-color: dodgerblue;
}

#registerButton:hover{
    background-color: darkslateblue;
}

#logoutButton{
    background-color: palevioletred;
}
#logoutButton:hover{
    background-color: darkred;
}

#logoIMG{
    width: 206px;
    height: 58px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#logo{
    width: 206px;
    height: 58px;
}


/*Controls for Tables*/

.hoverableRowsAndColumns:hover {
    background-color: lightskyblue;
}

.hoverableSpecificRowAndColumn:hover{
    cursor: pointer;
    background-color: dodgerblue;
}
td, tr, th {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    //background-color: #dddddd;
}

th{
    background-color: lightsteelblue;
}

tr{
    background-color: aliceblue;
}

/*
*   Login Page Div Controls
*/
/*this div id controls the bounding box for the login details*/
#divForLoginPage{
    width: 400px;
    height: 235px;
    /*Deals with positioning element in centre*/
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*END OF POSITIONING ELEMENT IN CENTRE*/
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
}
/* This class controls the size of text boxes on the login page */
.loginAndRegisterPageTextBox{
    width: 200px;
    margin-left: 100px;
}

.whyNotRegisterText{
    text-align: center;
}
#loginPageLoginButton{
    margin-left: 176px;
}

.pageHeaderText{
    text-align: center;
}

/*
*   Register Page Div Controls
*/

#divForRegisterPage {
    width: 400px;
    height: 320px;
    /*Deals with positioning element in centre*/
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*END OF POSITIONING ELEMENT IN CENTRE*/
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
}

#submitRegisterButton{
    margin-left: 169px;
}

/*
 * Club Page Specific Controls
 */

#divForClubPageDetails{
    width: 100%;
    height: 800px;
    min-width: 740px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

#clubDetails{
    width: 420px;
    /*position: absolute;
    top: 10px;
    left: 10%;*/
    padding: 10px;
    margin-left: 10%;
    float: left;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
}

#facebookFeed{
    width: 420px;
    /*position: absolute;
    top: 10px;
    right: 10%;*/
    margin-left: 10%;
    float: left;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    padding: 10px;
}

#clubPageCommentsBox{
    width: 420px;
    /*position: absolute;
    top: 10px;
    left: 10%;*/
    margin-left: 10%;
    float: left;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    padding: 10px;
}

/*
* Calendar Specific Controls
*/

#calendar{
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*
* Clubs & Societies Page
*/

#clubsAndSocietiesPageSearchBox{
    width: 100%;
    position: relative;
    background-color: aliceblue;
    border: solid #333 5px;
    border-radius: 15px;
    text-align: center;
}